* {
  box-sizing: border-box;
}

.container{
  margin:20px;
  margin-top: 50px;
}

.container h2{
  margin-left: 10px;
}

table {
  width: 100%;
}

.header{
  display: flex;
  background-color: #FFFFFF;
}

.add{
  margin: 10px;
}

.filter{
  margin: 10px;
}



