<h2><mat-icon>domain</mat-icon> Actualités</h2>
    <div class="mat-elevation-z8 container">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell *matCellDef="let element" class="td">
          <mat-icon>notifications_none</mat-icon>
          {{element.title}}
        </td>

      </ng-container>
      <ng-container matColumnDef="Info">
        <th mat-header-cell *matHeaderCellDef> Informations </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="openBody(element.id)" mat-raised-button color="primary">Informations</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

