* {
  box-sizing: border-box;
}

.container p{
  border: 1px black solid;
  border-radius: 5px;
  height:180px;
  width:550px,
}

.container{
  overflow-wrap: break-word;
  width:550px,
}

p{
  padding-left: 5px;
  padding-top: 5px;
}

