<form class="example-form" #userForm="ngForm" (ngSubmit)="saveUser(userForm.value)">
  <mat-card>
    <mat-card-content>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput name="id" #id="ngModel" type="number" ngModel readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text" name="name" #name="ngModel" required ngModel>
        <mat-error *ngIf="name.errors?.['required']">Name is required</mat-error>
      </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email" name="email" #email="ngModel" ngModel required email>
      <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
      <mat-error *ngIf="email.errors?.['email']">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="text" name="password" #password="ngModel" required ngModel>
      <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Role</mat-label>
      <input matInput placeholder="Role" type="text" name="role" #role="ngModel" required ngModel>
      <mat-error *ngIf="role.errors?.['required']">Role is required</mat-error>
    </mat-form-field>

    </mat-card-content>

    <mat-card-footer>
      <div class="example-button-row" style="margin: 15px">
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.form.invalid">Save</button>
        | <a (click)="closePopup()" mat-raised-button color="accent">Close</a>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
