<div class="admin">
  <div class="header">
      <img src="../../assets/logo.png" alt="">
      <h1>Attijari Leasing Plateforme</h1>
    <div class="button">
      <button mat-flat-button color="accent"><a routerLink="/home">Accueil de l'utilisateur</a></button>
    </div>
  </div>
  <div class="body">
    <app-users-admin></app-users-admin>
    <app-actuality-admin></app-actuality-admin>
    <app-links-admin></app-links-admin>
    <app-document-admin></app-document-admin>
    <app-folder-admin></app-folder-admin>
    <app-email></app-email>
  </div>
</div>
