<div class="home">
  <div class="header">
    <img src="../../assets/logo.png" alt="">
    <h1>Attijari Leasing Plateforme</h1>
  </div>
  <div class="body">
    <div class="left">
      <app-actuality></app-actuality>
      <app-folder></app-folder>
    </div>
    <div class="right">
      <div class="button">
        <button mat-flat-button color="accent"><a routerLink="/admin/homeAdmin">Espace admin</a></button>
        <button mat-flat-button color="accent"><a routerLink="/logout">Se déconnecter</a></button>
      </div>
    <div class="link">
      <app-links></app-links>
    </div>
    </div>
  </div>
</div>








