<mat-card class="container">
  <mat-card-content>
      <form class="example-form" #registerForm="ngForm" (ngSubmit)="onRegister()">
          <mat-card-title>
              <h2>Registration</h2>
            </mat-card-title>

          <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="enter your name" [(ngModel)]="registerObject.name" name="name" #name="ngModel" required>
              <mat-error *ngIf="name.errors?.['required']">name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="enter your email" [(ngModel)]="registerObject.email" name="email" #email="ngModel" required>
              <mat-error *ngIf="email.errors?.['required']">email is required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="enter your Password" type="password" [(ngModel)]="registerObject.password" name="password" #password="ngModel" required>
              <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary" style="margin: 10px;" type="submit" [disabled]="registerForm.form.invalid">Save</button>
              <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </div>

        </form>
  </mat-card-content>

</mat-card>
