* {
  box-sizing: border-box;
}

.container{
  margin:10px;
  width: 600px;
  position: relative;
  left: 26%;
  box-shadow:2px 2px 5px rgb(165, 160, 160);
  background-color: #FFFFFF;
  margin-top: 50px;
}

.container h2{
  text-align: center;
  position: relative;
  top: 10px
}

.form{
  text-align: center;
  margin-top: 30px;
  height: 350px;
}

.mat-form-field{
  width: 90%;
}

.button{
  margin-bottom: 10px;
}
