<div class="container">
  <h2><mat-icon> mail_outline</mat-icon> Email</h2>

  <div class="card">

    <div class="form">
      <form class="example-form" #emailForm="ngForm" (ngSubmit)="sendEmail()">

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>De</mat-label>
            <input matInput type="email" placeholder="Your email" [(ngModel)]="emailObject.from" name="from" #from="ngModel" required>
            <mat-error *ngIf="from.errors?.['required']">Email est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>A</mat-label>
          <mat-select [(ngModel)]="emailObject.to" name="to" #to="ngModel" required>
            <mat-option>-- Aucun --</mat-option>
            <mat-option *ngFor="let element of users" [value]="element.email">{{element.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="to.errors?.['required']">Email est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Object</mat-label>
            <input matInput placeholder="Subject" type="text" [(ngModel)]="emailObject.subject" #subject="ngModel" name="subject" required>
            <mat-error *ngIf="subject.errors?.['required']">Object est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Corp</mat-label>
            <textarea matInput placeholder="Body" type="text" [(ngModel)]="emailObject.body" #body="ngModel" name="body" required></textarea>
            <mat-error *ngIf="body.errors?.['required']">Corp est obligatoire</mat-error>
          </mat-form-field>

          <div class="button">
            <button mat-raised-button color="primary" type="submit" [disabled]="emailForm.form.invalid">Envoyer</button>
          </div>

      </form>

    </div>

  </div>

  <div [hidden]="spinner" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  </div>
  <br>
  <br>
